## 1. Pandas DataFrames

In [19]:
dictionaries = {"country": ["Bangladesh", "India", "Pakistan", "Bhutan", "Nepal"],
               "capital": ["Dhaka", "New Delhi", "Islamabad", "Thimphu", "Kathmandu"],
               "area": [306.4, 42.7, 906.5, 26.1, 51],
               "population": [8.906, 21.75, 1.015, 1.37, 1.003]}

import pandas as pd
brics = pd.DataFrame(dict)
print(brics)

      country    capital   area  population
0  Bangladesh      Dhaka  306.4       8.906
1       India  New Delhi   42.7      21.750
2    Pakistan  Islamabad  906.5       1.015
3      Bhutan    Thimphu   26.1       1.370
4       Nepal  Kathmandu   51.0       1.003

In [11]:
# Set the index for brics
brics.index=["BAN", "IND", "PAK", "BHU", "NEP"]
print(brics)

        country    capital   area  population
BAN  Bangladesh      Dhaka  306.4       8.906
IND       India  New Delhi   42.7      21.750
PAK    Pakistan  Islamabad  906.5       1.015
BHU      Bhutan    Thimphu   26.1       1.370
NEP       Nepal  Kathmandu   51.0       1.003

In [21]:
# Import pandas as pd
import pandas as pd

# Import the cars.csv data: cars
cars = pd.read_csv('cars.csv')

# Print out cars
print(cars)

  Unnamed: 0   cars_per_cap         country   drives_right
0         US            809   United States           True
1        AUS            731       Australia          False
2        JAP            588           Japan          False
3         IN             18           India          False
4        RU             200          Russia           True
5       MOR              70        Morocco            True
6        EG              45          Egypt            True

## 2. Indexing DataFrames

In [40]:
# Import pandas and cars.csv
import pandas as pd
cars = pd.read_csv('cars.csv', index_col = 0)

# Print out country column as Pandas Series
print("Pandas Series: ")
print(cars['cars_per_cap'])

# Print out country column as Pandas DataFrame
print("\nPandas DataFrame: ")
print(cars[['cars_per_cap']])

# Print out DataFrame with country and drives_right columns
print("\nDataFrame with country: ")
print(cars[['cars_per_cap', 'country']])

Pandas Series:
US      809
AUS     731
JAP     588
IN       18
RU      200
MOR      70
EG       45
Name: cars_per_cap, dtype: int64

Pandas DataFrame:
      cars_per_cap
US             809
AUS            731
JAP            588
IN              18
RU             200
MOR             70
EG              45

DataFrame with country:
      cars_per_cap         country
US             809   United States
AUS            731       Australia
JAP            588           Japan
IN              18           India
RU             200          Russia
MOR             70        Morocco
EG              45          Egypt

In [73]:
# Import cars data
import pandas as pd
cars = pd.read_csv('cars.csv')
#cars = pd.read_csv('cars.csv', index_col = 0)

# Print out first 4 observations
print(cars[0:4])

# Print out fifth, sixth, and seventh observation
print("\n", cars[4:6])

  Unnamed: 0  cars_per_cap         country  drives_right
0         US           809   United States          True
1        AUS           731       Australia         False
2        JAP           588           Japan         False
3         IN            18           India         False

   Unnamed: 0  cars_per_cap   country  drives_right
4        RU            200    Russia          True
5       MOR             70  Morocco           True

In [70]:
# Import cars data
import pandas as pd
#cars = pd.read_csv('cars.csv')
cars = pd.read_csv('cars.csv', index_col = 0)

# Print out observation for Japan
print(cars.iloc[2])

# Print out observations for Australia and Egypt
#print("\nloc",cars.loc[['AUS', 'EG']])

cars_per_cap      588
country         Japan
drives_right    False
Name: JAP, dtype: object